body {
    background-image: url("assets/background-image.jpeg");
}

.header {
    color: white;
    font-size: 50px;
    text-align: center;
}

.label-text {
    color: white;
    font-size: 35px;
    text-align: center;
}

.input {
    margin-top: 100px;
    text-align: center;
}

Input#inputfield {
    font-size: 18px;
    border: solid;
    width: 50%; 
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.buttons { 
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

button#click-me-button { 
    background-color: #0dcaf0;
    width: 100px;
    color: white;
    margin-left: 20px; 
    padding: 10px;
}

button#reset-button {
    background-color: #0dcaf0;
    width: 100px;
    color: white;
    padding: 10px;
}